@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background-start-rgb: #000;
  --background-end-rgb: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #fff;
    --background-end-rgb: #fff;
  }
}

body {
  color: var(--foreground-rgb);
  font-size: 14px;
  position: relative;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ql-container.ql-snow {
  min-height: 150px;
  font-size: 14px;
}
